[submodule "eod/tasks/trk"]
	path = eod/tasks/trk
	url = git@github.com:Helicopt/EOD-Tracking.git
[submodule "EOD-Tracking"]
	path = EOD-Tracking
	url = git@github.com:Helicopt/EOD-Tracking.git
[submodule ".\\eod\\tasks\\trk"]
	path = .\\eod\\tasks\\trk
	url = git@github.com:Helicopt/EOD-Tracking.git
